@import '../_variables.scss';

@media only screen and (max-width: #{$screen_sidebar_left_only}px) {
    .add_article {
        width: calc(100% - 30px);
    }
}

@media only screen and (max-width: 650px) {
    .add_article {
        width: 100%;
    }
}

@media only screen and (max-width: 530px) {
    .add_article {
        h1 {
            font-size: 13px;
        }

        .button-write {
            min-width: 30px;
            width: 30px;
            height: 30px;

            svg {
                width: 15px;
                height: 15px;
            }
        }
    }
}