@media only screen and (max-width: 1050px) {
    .following {
        .title {
            h1 {
                font-size: 15.5px;
            }

            p {
                font-size: 10px;
            }
    
            svg {
                width: 15px;
                height: 15px;
            }
        }
    }
}